<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/dist/<%= (process.env.ENV == 'server') ? 'error.min': 'error' %>.css">
  <title>Error 404</title>
</head>
<body>
  <div id="root"></div>
  <script src="/dist/<%= (process.env.ENV == 'server') ? 'error.min': 'error' %>.js"></script>
</body>
</html>